certifi==2018.1.18
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
Flask==0.12.3
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
flask_wtf==0.14.2
SQLAlchemy==1.3.1
idna==2.6
ipaddr==2.2.0
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.0
passlib==1.7.1
pyasn1==0.4.5
requests>=2.20.0
simplejson==3.16.0
SQLAlchemy==1.2.6
urllib3>=1.23
Werkzeug==0.14.1
wincertstore==0.2
WTForms==2.2.1
